<div>
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>LOGIN</h4>

   <form #loginForm="ngForm" novalidate>
			<div>
				<label stacked color="primary">Username</label>
				<input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
					required />
			</div>
			<p [hidden]="username.valid || submitted == false" color="danger" padding-left>
				Username is required
			</p>

			<div>
				<label stacked color="primary">Password</label>
				<input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required />
			</div>
			<p [hidden]="password.valid || submitted == false" color="danger" padding-left>
				Password is required
			</p>

		<div>

				<button (click)="onLogin(loginForm)" type="submit" block>Login</button>
		</div>
	</form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>

  </div>

</div>
